---
// Imports
import Base from '../layouts/Base.astro';
import Nav from '../components/Nav.astro';
import Stats from '../components/Stats.astro';

// Auth
import { supabase } from "@/lib/supabase";
const { cookies, redirect } = Astro;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

if (!accessToken || !refreshToken) {
  return redirect("/signin");
}
const { data, error } = await supabase.auth.setSession({
  refresh_token: refreshToken.value,
  access_token: accessToken.value,
});
if (error) {
  cookies.delete("sb-access-token", {
    path: "/",
  });
  cookies.delete("sb-refresh-token", {
    path: "/",
  });
  return redirect("/signin");
}

const email = data?.user?.email;

// Page code

let { data: records } = await supabase
  .from('records')
  .select('*')
  .order('created_at', { ascending: false },)

---

<Base title="Welcome to Astro.">
  
  
  <Nav>

    <div class="group">
      <label class="input input-bordered input-sm w-96 flex items-center gap-2">
        <input type="search" class="grow" placeholder="Search" />
        <svg class="w-4 h-4 opacity-70" viewBox="0 0 16 16" fill="currentColor">
          <path fill-rule="evenodd" d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z" clip-rule="evenodd" />
        </svg>
      </label>
    </div>
      
  </Nav>

  <Stats/>

	<main class="container mx-auto">


    <section>

    </section>

    <section class="border border-[#373737] rounded-[16px] py-3">

      <div class="mb-3 px-3">

        <button class="btn btn-sm btn-accent">Crear</button>
      </div>

      <div class="overflow-x-auto">
        <table class="table table-pin-rows table-zebra">
          <thead>
            <tr>
              <th>Fecha</th>
              <td>Steam</td>
              <td>Falta/s</td>
              <td>Juego</td>
              <td>Por</td>
            </tr>
          </thead> 
          <tbody>
            { records?.map((rec)=>
              <tr>
                <th>{rec.created_at}</th> 
                <th class="tooltip" data-tip={rec.username}>
                  {rec.user_id}
                </th> 
                <th>{rec.sanction}</th> 
                <th>{rec.game}</th> 
                <th>{rec.from}</th> 
              </tr>
            )}
          </tbody> 
          <tfoot>
            <tr>
              <th>Fecha</th> 
              <td>Steam</td> 
              <td>Falta/s</td> 
              <td>Juego</td> 
              <td>Por</td> 
            </tr>
          </tfoot>
        </table>
      </div>
    </section>

	</main>

  <div class="h-[400dvh]"></div>
</Layout>